// common code start
$base-color: #ccedd2;
$side-color: #3fa6e2;
$text-color: #207561;
$font-family: 'Rubik', sans-serif;
@mixin hover {
  &:hover {
    color: $base-color;
    transition: 0.3s ease-out;
    text-decoration: none;
  }
}

a{
  color: white;
  @include hover(); 
  text-decoration: none;
  font-size: 22px;
}
main {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  min-height: 520px;
}
hr {
  width: 95%;
  margin: 10px 2.5%;
  border: 2px solid $side-color;
  border-radius: 5px;
}
::-webkit-scrollbar {
  display: none;
}
h1{
  padding: 20px 0 10px;
  color: $side-color;
  font-family: $font-family;
}
p,
h2,
h3 {
  color: $side-color;
  font-family: $font-family;
  padding: 3px 0;
}
.d-block.w-100 {
  border-radius: 5px;
}
// common code end

// Header Start
#header {
  height: 60px;
  background-color: $side-color;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 75;
  box-shadow: 0 3px rgba(0, 0, 0, 0.3);
}
.fas.fa-shopping-basket{
  position: fixed;
  z-index: 200;
  top: 15px;
  right: 70px;
  color: white;
  font-size: 25px;
}
#logo {
  color: white;
  font-size: 30px;
  padding-left: 20px;
  position: relative;
  top: 5px;
  @include hover();
}

.nav-bar{
  display: none;
}
// Header end

// Side Bar start
#toggleBtn {
  font-size: 2.5rem;
  position: fixed;
  top: 11px;
  right: 22px;
  cursor: pointer;
  color: white;
  @include hover();
  z-index: 125;
}
#side-bar {
  width: 100%;
  background: white;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 50;
  transform: translateX(-110%);
  transition: transform 0.3s ease-out;
  
}
#side-bar.open {
  transform: translateX(0);
}
#side-bar ul {
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 0;
}
nav#side-bar ul a {
  color: $side-color;
  margin-left: 20px;
}
// Side Bar end

// Backdrop start
#backdrop.open {
  position: fixed;
  top: 60px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 25;
}
// Backdrop end

// Footer start
.footer {
  height: 60px;
  background: $side-color;
  width: 100%;
  z-index: 20;
  text-align: center;
}
.footer ul {
  width: 80%;
  margin: 0 10%;
  padding: 0;
}
.footer ul li {
  display: inline-block;
  font-size: 30px;
  padding: 5px 10px 0;
  color: white;
}
// Footer end 

// Tree houses start
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 20px auto;
  display: flex;
  max-width: 700px;
}
.card-title {
  color: $side-color;
  font-size: 20px;
}
.card img {
  width: 100%;
}
.fas.fa-plus-circle{
  color: #21bf73;
  font-size: 30px;
  padding: 5px ;
}
// Tree house end

// Basket start 
.fas.fa-arrow-up,
.fas.fa-arrow-down {
  color: $side-color;
  padding: 5px;
}
.card.basket{
  position: relative;
  right: 15px;
}
.nothing-order {
  position: relative;
  right: 20px;
}
.btn.btn-success{
  margin: 20px 0;
}
// Basket end

//  ipad/tablet screen start 
@media screen and (min-width: 768px){
.space {
  margin-bottom: 250px;
}
}
// ipad/pro screen start
@media screen and (min-width: 1024px) {
.space {
  margin-bottom: 450px;
}
}
// desktop start
@media screen and (min-width: 1025px){
  #toggleBtn{
    display: none;
  }
  #side-bar{
    display: none;
  }
  .fas.fa-shopping-basket{
    right: 20px;
  }
  .nav-bar {
    display: inline-block;
  }
  .nav-bar ul li{
    display: inline;
    z-index: 200;
    position: relative;
    left: 200px;
    bottom: 30px;
    padding: 0 20px;
  }
  .carousel{
    max-width: 80%;
    margin: 10px 10%;
  }
  p {
    font-size: 20px;
  }
  .recipe-carousel {
    padding-bottom: 200px;
  }
  .space {
    margin-bottom:540px;
  }
  .carousel,
  p {
    max-width: 60%;
    margin: auto 20%;
  }
  hr {
    max-width: 700px;
    margin: 30px auto;
  }
}